<form 
    ng-submit="ctrl.submit(ctrl.model)"
    class="col-sm-offset-4 col-sm-4">
    <h2>Please sign in</h2>
    <label for="username" class="sr-only">User Name</label>
    <input
        ng-model="ctrl.model.userName" 
        type="string" 
        name="username" 
        class="form-control" 
        placeholder="Email address" 
        required 
        autofocus>
    <label for="password" class="sr-only">Password</label>
    <input
        ng-model="ctrl.model.password" 
        type="password" 
        name="password" 
        class="form-control" 
        placeholder="Password" 
        required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>